# TOP PORT (GREY):
SUBSYSTEM=="tty", KERNELS=="1-2", SYMLINK+="ttyCANable0"
# BOTTOM PORT (GREY):
SUBSYSTEM=="tty", KERNELS=="3-2", SYMLINK+="ttyCANable1"

